@font-face {
  font-family: Lato;
  src: url(../fonts/Lato-Regular.ttf);
}

@font-face {
  font-family: Lato-Black;
  src: url(../fonts/Lato-Black.ttf);
}

@font-face {
  font-family: Lato-Bold;
  src: url(../fonts/Lato-Bold.ttf);
}

body {
  font-family: Lato;
}

.header {
  background-color: #23497E;

  &.navbar-dark .navbar-toggler {
    border: 0;

    &:focus {
      outline: unset;
    }
  }

  .navbar-brand {
    color: #fff;

    img {
      width: 50%;
    }
  }

  .navbar-nav .nav-item .nav-link, .navbar-toggler {
    color: #fff;
  }

  .navbar-nav {
    flex-direction: column;

    li.nav-item {
      width: 96px;
    }
  }

  .animated-icon3 {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  
    span {
      display: block;
      position: absolute;
      height: 3px;
      width: 100%;
      border-radius: 9px;
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .25s ease-in-out;
      -moz-transition: .25s ease-in-out;
      -o-transition: .25s ease-in-out;
      transition: .25s ease-in-out;
      background: #fff;
  
      &:nth-child(1) {
        top: 0px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
      }
  
      &:nth-child(2) {
        top: 10px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
      }
  
      &:nth-child(3) {
        top: 20px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
      }
    }
  
    &.open span {
      &:nth-child(1) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 0px;
        left: 8px;
      }
  
      &:nth-child(2) {
        width: 0%;
        opacity: 0;
      }
  
      &:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 21px;
        left: 8px;
      }
    }
  }
}

.card {
  transition: .4s ease;
  margin-bottom: 16px;
  box-shadow: 2px 3px 5px -1px #707070;
  border-radius: 0;

  &:hover {
    box-shadow: 4px 4px 15px -2px #707070;
  }

}

.text-title {
  font-size: 40px;
  color: #23497E;
  font-family: Lato-Black;

  span {
    font-family: Lato;
  }
}

.text-blue {
  color: #22477B;
}

.home {
  margin-top: 94px;

  .swiper-container {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .our-factories-home, .get-in-touch-home {
    flex-direction: column;
  }
}

.about-us {
  display: block;
  background-repeat: no-repeat;
  background-image: url('../images/DSC05921.png');
  background-size: auto;
  background-position: -92px;
  height: 443px;
}

.counting {
  background: #F3F3F3;

  .icon {
    margin: 0 auto;
    border-radius: 50%;
    border: 7px solid #22477B;
    padding: 21px;
    width: 139px;
    height: 139px;
    display: block;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 50%;
  }

  .ic-years-business {
    background-image: url('../images/years_in_business.png');
  }

  .ic-sewing-machines {
    background-image: url('../images/sewing_machines.png');
  }

  .ic-employes {
    background-image: url('../images/employes.png');
  }

  .ic-capacity {
    background-image: url('../images/capacity.png');
  }
  
  .icon-desc {
    p {
      margin: 0;

      &:first-child {
        display: inline;
        color: #22477B;
        font-size: 40px;
        font-family: Lato-Black;
      }

      &:last-child {
        color: #000000;
        font-size: 20px;
        font-family: Lato-Bold;
      }
    }
    
    span {
      color: #22477B;
      font-size: 40px;
      font-family: Lato-Black;
    }
  }
}

.banner-about {
  display: block;
  background-repeat: no-repeat;
  background-image: url('../images/about/banner_about.png');
  background-size: 100% 100%;
  height: 840px;
}

.about-us-box {
  margin-top: 94px;

  .border-box {
    box-shadow: 1px 2px 5px -1px #707070;

    &:hover {
      box-shadow: 4px 4px 15px -2px #707070;
    }
  }

  .content {
    font-family: Lato;
  }

  .directors-box-about {
    flex-direction: column;

    .directors-box {
      margin-bottom: 1rem;

      &:last-child {
        margin-bottom: 0;
      }

      p {
        &:nth-child(2) {
          font-family: Lato-Bold;
        }
      }
    }
  }
  
  .top {
    img {
      max-width: 50px;
    }
  }

  .top, .bottom {
    min-height: 112px;
  }
}

.join-our-team {
  margin-top: 94px;

  .form-group {
    margin-bottom: 1.2rem;
  }
  
  .form-control {
    border-radius: 0;
  }

  .join-form {
    flex-direction: column;
  }

  .join-our-team-img {
    display: block;
    background-repeat: no-repeat;
    background-image: url('../images/joinOurTeam/img1.png');
    background-size: auto;
    background-position: -92px;
    height: 443px;
  }

  .custom-file-upload {
    border: 1px solid #95989A;
    display: inline-block;
    padding: 18px 12px;
    cursor: pointer;
    background: #28406D;
    color: #fff;
    border-radius: 4px;
  }

  input[type="file"] {
    display: none;
  }

  .btn-primary {
    height: 63px;
    width: 121px;
  }
}

.our-factories {
  margin-top: 94px;

  .banner-our-factories {
    display: block;
    background-repeat: no-repeat;
    background-image: url('../images/ourFactories/img1.png');
    background-size: auto;
    background-position: -350px;
    height: 314px;
  }

  .video-box {
    width: calc(100% - 591px);
    height: 389px;

    .videoWrapper {
      position: relative;
      padding-bottom: 56.25%; /* 16:9 */
      padding-top: 25px;
      height: 0;

      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }

  .count {
    height: 85px;
  }

  .text-title {
    color: #A1CDE6;
  }

  .underline {
    border-color: #A1CDE6;
  }

  .custom-width-factories {
    width: 446px;
  }
}

.csr {
  margin-top: 94px;

  .banner-csr {
    display: block;
    background-repeat: no-repeat;
    background-image: url('../images/csr/img1.png');
    background-size: auto;
    background-position: -350px;
    height: 314px;
  }

  .full-box {
    width: 75%;

    .sustainability-box {
      flex-direction: column;
      box-shadow: -1px 1px 8px -1px #707070;
  
      .csr-box {
        width: 575px;
        height: 219px;
      }
    
      .bg-dark-blue {
        width: 307px;
        height: 219px;
      }
    }
  }

  .community-img {
    flex-direction: column;
  }

  ul {
    list-style-image: url("../images/csr/dot.png");
  }

  .text-blue {
    font-family: Lato-Bold;
  }

  .border {
    border-color: #28406D !important;
  }
}

.our-products {
  margin-top: 94px;

  .banner-our-products {
    display: block;
    background-repeat: no-repeat;
    background-image: url('../images/ourProducts/banner-our-products.png');
    background-size: auto;
    background-position: -350px;
    height: 314px;
  }

  .our-products-contents {
    flex-direction: column;
  }

  ul {
    padding-inline-start: 0;
    list-style-type: none;

    li:before {
      content: '-';
      margin-right: 10px;
    }
  }

  .text-blue {
    font-size: 20px;
    font-family: Lato-Black;
  }

  .text-title {
    font-family: Lato-Black;
  }

  .swiper-container {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  .swiper-slide {
    background-size: cover;
    background-position: center;
  }
  .gallery-top {
    height: 546px; 
  }
  .gallery-thumbs {
    box-sizing: border-box;
    padding: 10px 0;

    .swiper-slide {
      width: 25%;
      height: 100%;
      opacity: 0.4;
    }

    .swiper-slide-thumb-active {
      opacity: 1;
    }
  }
}

.contact-us {
  margin-top: 94px;

  .contact-us-form-box {
    flex-direction: column;
  }

  .custom-width-contact {
    width: 400px;
  }
  
  form {
    .form-group {
      margin-bottom: 20px;

      input, textarea {
        border-radius: 0;
      }
    }

    .btn-primary {
      width: 121px;
    }
  }

  .locations {
    p {
      margin-bottom: 0;
    }

    .bg-dark-blue {
      flex-direction: row;
    }

    .content-locations {
      position: relative;
      height: 309px;

      .locations-title {
        font-family: Lato-Bold;
      }

      span {
        width: 45px;
        float: left;
      }
      
      .map-link-box {
        position: absolute;
        bottom: 22px;

        .map-link {
          color: #fff;
          text-decoration: underline;
        }
      }
    }
  }
}

.bg-blue {
  background: #A1CDE6;
}

.get-in-touch {
  display: block;
  background-repeat: no-repeat;
  background-image: url('../images/table.png');
  background-size: auto;
  background-position: -92px;
  height: 222px;
}

.footer {
  ul {
    list-style-type: none;
    li a {
      color: #fff;
    }
  }
}

.underline {
  display: block;
  border: 5px solid #23497E;
  width: 73px;
}

.btn {
  border-radius: 0;
}

.bg-dark-blue {
  background: #28406D;
  color: #fff;
}

.bg-grey {
  background: #F3F3F3;
}

.btn-primary {
  background: #28406D;
}

@media (min-width: 992px) {
  .w-lg-item-96 {
    width: 96px;
  }
}

@media (min-width: 320px) and (max-width: 767.98px) { 
  .header {
    .navbar-brand {
      img { 
        width: 100%;
      }
    }
  }
  .about-us {
    height: 320px;
  }

  .our-products {
    .swiper-container {
      height: 100px;
    }

    .gallery-top {
      height: 200px;
    }
  }

  .csr {
    .full-box {
      width: 100%;

      .sustainability-box {
        .bg-dark-blue {
          width: 100%;
        }
  
        .csr-box {
          width: 100%;
          height: 100%;
        }
      } 
    }
  }

  .contact-us {
    .contact-us-form-box {
      img {
        width: 100%;
        height: 100%;
      }

      .custom-width-contact {
        width: 100%;
      }
    }

    .locations {
      .content-locations {
        height: 100%;

        .map-link-box {
          position: unset;
          bottom: unset;
        }
      }
    }
  }

  .our-factories {
    .custom-width-factories {
      width: 100%;
    }
  }
}