@font-face {
  font-family: Lato;
  src: url(../fonts/Lato-Regular.ttf);
}
@font-face {
  font-family: Lato-Black;
  src: url(../fonts/Lato-Black.ttf);
}
@font-face {
  font-family: Lato-Bold;
  src: url(../fonts/Lato-Bold.ttf);
}
body {
  font-family: Lato;
}
.header {
  background-color: #23497e;
}
.header.navbar-dark .navbar-toggler {
  border: 0;
}
.header.navbar-dark .navbar-toggler:focus {
  outline: unset;
}
.header .navbar-brand {
  color: #fff;
}
.header .navbar-brand img {
  width: 50%;
}
.header .navbar-nav .nav-item .nav-link, .header .navbar-toggler {
  color: #fff;
}
.header .navbar-nav {
  flex-direction: column;
}
.header .navbar-nav li.nav-item {
  width: 96px;
}
.header .animated-icon3 {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.header .animated-icon3 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  background: #fff;
}
.header .animated-icon3 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
.header .animated-icon3 span:nth-child(2) {
  top: 10px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
.header .animated-icon3 span:nth-child(3) {
  top: 20px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
.header .animated-icon3.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0px;
  left: 8px;
}
.header .animated-icon3.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}
.header .animated-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 21px;
  left: 8px;
}
.card {
  transition: 0.4s ease;
  margin-bottom: 16px;
  box-shadow: 2px 3px 5px -1px #707070;
  border-radius: 0;
}
.card:hover {
  box-shadow: 4px 4px 15px -2px #707070;
}
.text-title {
  font-size: 40px;
  color: #23497e;
  font-family: Lato-Black;
}
.text-title span {
  font-family: Lato;
}
.text-blue {
  color: #22477b;
}
.home {
  margin-top: 94px;
}
.home .swiper-container {
  width: 100%;
  height: 100%;
}
.home .swiper-container .swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background: #fff;
  opacity: 0.8;
}
.home .swiper-container .swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 1;
  background: #23497e;
}
.home .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
 /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.home .our-factories-home, .home .get-in-touch-home {
  flex-direction: column;
}
.about-us {
  display: block;
  background-repeat: no-repeat;
  background-image: url('../images/DSC05921.png');
  background-size: auto;
  background-position: -92px;
  height: 443px;
}
.counting {
  background: #f3f3f3;
}
.counting .icon {
  margin: 0 auto;
  border-radius: 50%;
  border: 7px solid #22477b;
  padding: 21px;
  width: 139px;
  height: 139px;
  display: block;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 50%;
}
.counting .ic-years-business {
  background-image: url('../images/years_in_business.png');
}
.counting .ic-sewing-machines {
  background-image: url('../images/sewing_machines.png');
}
.counting .ic-employes {
  background-image: url('../images/employes.png');
}
.counting .ic-capacity {
  background-image: url('../images/capacity.png');
}
.counting .icon-desc p {
  margin: 0;
}
.counting .icon-desc p:first-child {
  display: inline;
  color: #22477b;
  font-size: 40px;
  font-family: Lato-Black;
}
.counting .icon-desc p:last-child {
  color: #000;
  font-size: 20px;
  font-family: Lato-Bold;
}
.counting .icon-desc span {
  color: #22477b;
  font-size: 40px;
  font-family: Lato-Black;
}
.banner-about {
  display: block;
  background-repeat: no-repeat;
  background-image: url('../images/about/banner_about.png');
  background-size: 100% 100%;
  height: 840px;
}
.about-us-box {
  margin-top: 94px;
}
.about-us-box .border-box {
  box-shadow: 1px 2px 5px -1px #707070;
}
.about-us-box .border-box:hover {
  box-shadow: 4px 4px 15px -2px #707070;
}
.about-us-box .content {
  font-family: Lato;
}
.about-us-box .directors-box-about {
  flex-direction: column;
}
.about-us-box .directors-box-about .directors-box {
  margin-bottom: 1rem;
}
.about-us-box .directors-box-about .directors-box:last-child {
  margin-bottom: 0;
}
.about-us-box .directors-box-about .directors-box p:nth-child(2) {
  font-family: Lato-Bold;
}
.about-us-box .top img {
  max-width: 50px;
}
.about-us-box .top, .about-us-box .bottom {
  min-height: 112px;
}
.join-our-team {
  margin-top: 94px;
}
.join-our-team .form-group {
  margin-bottom: 1.2rem;
}
.join-our-team .form-control {
  border-radius: 0;
}
.join-our-team .join-form {
  flex-direction: column;
}
.join-our-team .join-our-team-img {
  display: block;
  background-repeat: no-repeat;
  background-image: url('../images/joinOurTeam/img1.png');
  background-size: auto;
  background-position: -92px;
  height: 443px;
}
.join-our-team .custom-file-upload {
  border: 1px solid #95989a;
  display: inline-block;
  padding: 18px 12px;
  cursor: pointer;
  background: #28406d;
  color: #fff;
  border-radius: 4px;
}
.join-our-team input[type="file"] {
  display: none;
}
.join-our-team .btn-primary {
  height: 63px;
  width: 121px;
}
.our-factories {
  margin-top: 94px;
}
.our-factories .banner-our-factories {
  display: block;
  background-repeat: no-repeat;
  background-image: url('../images/ourFactories/img1.png');
  background-size: auto;
  background-position: -350px;
  height: 314px;
}
.our-factories .video-box {
  width: calc(100% - 591px);
  height: 389px;
}
.our-factories .video-box .videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
 /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.our-factories .video-box .videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.our-factories .count {
  height: 85px;
}
.our-factories .text-title {
  color: #a1cde6;
}
.our-factories .underline {
  border-color: #a1cde6;
}
.our-factories .custom-width-factories {
  width: 446px;
}
.csr {
  margin-top: 94px;
}
.csr .banner-csr {
  display: block;
  background-repeat: no-repeat;
  background-image: url('../images/csr/img1.png');
  background-size: auto;
  background-position: -350px;
  height: 314px;
}
.csr .full-box {
  width: 75%;
}
.csr .full-box .sustainability-box {
  flex-direction: column;
  box-shadow: -1px 1px 8px -1px #707070;
}
.csr .full-box .sustainability-box .csr-box {
  width: 575px;
  height: 219px;
}
.csr .full-box .sustainability-box .bg-dark-blue {
  width: 307px;
  height: 219px;
}
.csr .community-img {
  flex-direction: column;
}
.csr ul {
  list-style-image: url("../images/csr/dot.png");
}
.csr .text-blue {
  font-family: Lato-Bold;
}
.csr .border {
  border-color: #28406d !important;
}
.our-products {
  margin-top: 94px;
}
.our-products .banner-our-products {
  display: block;
  background-repeat: no-repeat;
  background-image: url('../images/ourProducts/banner-our-products.png');
  background-size: auto;
  background-position: -350px;
  height: 314px;
}
.our-products .our-products-contents {
  flex-direction: column;
}
.our-products ul {
  padding-inline-start: 0;
  list-style-type: none;
}
.our-products ul li:before {
  content: '-';
  margin-right: 10px;
}
.our-products .text-blue {
  font-size: 20px;
  font-family: Lato-Black;
}
.our-products .text-title {
  font-family: Lato-Black;
}
.our-products .swiper-container {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}
.our-products .swiper-slide {
  background-size: cover;
  background-position: center;
}
.our-products .gallery-top {
  height: 546px;
}
.our-products .gallery-thumbs {
  box-sizing: border-box;
  padding: 10px 0;
}
.our-products .gallery-thumbs .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}
.our-products .gallery-thumbs .swiper-slide-thumb-active {
  opacity: 1;
}
.contact-us {
  margin-top: 94px;
}
.contact-us .contact-us-form-box {
  flex-direction: column;
}
.contact-us .custom-width-contact {
  width: 400px;
}
.contact-us form .form-group {
  margin-bottom: 20px;
}
.contact-us form .form-group input, .contact-us form .form-group textarea {
  border-radius: 0;
}
.contact-us form .btn-primary {
  width: 121px;
}
.contact-us .locations p {
  margin-bottom: 0;
}
.contact-us .locations .bg-dark-blue {
  flex-direction: row;
}
.contact-us .locations .content-locations {
  position: relative;
  height: 309px;
}
.contact-us .locations .content-locations .locations-title {
  font-family: Lato-Bold;
}
.contact-us .locations .content-locations span {
  width: 45px;
  float: left;
}
.contact-us .locations .content-locations .map-link-box {
  position: absolute;
  bottom: 22px;
}
.contact-us .locations .content-locations .map-link-box .map-link {
  color: #fff;
  text-decoration: underline;
}
.bg-blue {
  background: #a1cde6;
}
.get-in-touch {
  display: block;
  background-repeat: no-repeat;
  background-image: url('../images/table.png');
  background-size: auto;
  background-position: -92px;
  height: 222px;
}
.footer ul {
  list-style-type: none;
}
.footer ul li a {
  color: #fff;
}
.underline {
  display: block;
  border: 5px solid #23497e;
  width: 73px;
}
.btn {
  border-radius: 0;
}
.bg-dark-blue {
  background: #28406d;
  color: #fff;
}
.bg-grey {
  background: #f3f3f3;
}
.btn-primary {
  background: #28406d;
}
@media (min-width: 992px) {
  .w-lg-item-96 {
    width: 96px;
 }
}
@media (min-width: 320px) and (max-width: 767.98px) {
  .header .navbar-brand img {
    width: 100%;
 }
  .about-us {
    height: 320px;
 }
  .our-products .swiper-container {
    height: 100px;
 }
  .our-products .gallery-top {
    height: 200px;
 }
  .csr .full-box {
    width: 100%;
 }
  .csr .full-box .sustainability-box .bg-dark-blue {
    width: 100%;
 }
  .csr .full-box .sustainability-box .csr-box {
    width: 100%;
    height: 100%;
 }
  .contact-us .contact-us-form-box img {
    width: 100%;
    height: 100%;
 }
  .contact-us .contact-us-form-box .custom-width-contact {
    width: 100%;
 }
  .contact-us .locations .content-locations {
    height: 100%;
 }
  .contact-us .locations .content-locations .map-link-box {
    position: unset;
    bottom: unset;
 }
  .our-factories .custom-width-factories {
    width: 100%;
 }
  .our-factories .video-box {
    width: 100%;
    min-height: 320px;
 }
  .our-factories .video-box > iframe {
    max-width: 100%;
    max-height: 100%;
 }
}
